* {box-sizing:border-box}

/* Slideshow container */
section {
  width: 100%;
  height: 34.375rem;
  background: $bg-light;
  margin: 0;
  padding: 0;
.banner-container {  
  display: flex; 
  flex-direction: column;
  height: ;
  width: 100%;  
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;

 
  img {
    width: 100%;     
    @include breakpoint-up(large) {
      height: 90vh;
      width: 100%;      
    }
  }

.bannerSlides {
  display: none;
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  // position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0.6rem;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 100ms ease-in-out;
  border-radius: 0.4rem;
  user-select: none;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  border-radius: 0.4rem; 
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $overlay;
}

/* Caption text */
.text {
  justify-content: center;
  display: flex;
  color: #f2f2f2;
  background-color: $overlay;
  font-size: $font-sml;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  transform: translateY(-8rem);
  

  @include breakpoint-up(medium) {
    transform: translateY(-8rem);
    font-size: $font-lrg;
  }
  
  @include breakpoint-up(large) {
    transform: translateY(-10rem);
    font-size: $font-lrg;
  }
}

.flexdot {
  transform: translateY(-6rem);
  display: flex;
  flex-direction: row;
}
.dotdotdot {
 transform: translateY(-0.45rem);
 margin: 0 6rem;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $sec-blue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active, .dot:hover {
  background-color: $prim-blue;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

}
}

// /* Slideshow container */
// section {
//   width: 100%;
//   height: 100vh;
//   background: $bg-light;
//   margin: 0;
//   margin-top: 6rem;
//   padding: 0;
// .banner-container {  
//   height: 100%;
//   width: 100%;  
//   position: relative;
//   .bannerImage1, .bannerImage2, .bannerImage3, {
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     .text {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
        
//       h1 {
//         font-size: $font-xlrg;
//         color: $white;
//         background-color: $overlay;
//         margin-top: 40rem;
//         padding: 2rem 4rem;
//     }
//   }
//   }

//   .bannerImage1 {
//     background-image: url("Assets/Images/bannerimage01.jpg");
    
//   }

//   .bannerImage2 {
//     background-image: url("Assets/Images/bannerimage02.jpg");
//     animation: slideTwoAnim 30s infinite;
//   }

//   .bannerImage3 {
//     background-image: url("Assets/Images/bannerimage03.jpg");
//     animation: slideThreeAnim 30s infinite;
//   }
// }
// }
// @keyframes slideTwoAnim {
//   0%{opacity:0;}
//   17%{opacity:0;}
//   33%{opacity:1;}
//   50%{opacity:1;}
//   67%{opacity:0;}
//   100%{opacity:0;}
// }

// @keyframes slideThreeAnim {
//   0%{opacity:0;}
//   50%{opacity:0;}
//   67%{opacity:1;}
//   83%{opacity:1;}
//   100%{opacity:0;}
// }
