* {box-sizing:border-box}

/* Slideshow container */
.banner-container {  
  display: flex; 
  flex-direction: column;
  padding-top: 10rem;
  width: 100%;  
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;

 
  img {
    width: 100%;     
    @include breakpoint-up(large) {
      height: 90vh;
      width: 100%;      
    }
  }

.bannerSlides {
  display: none;
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  // position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0.6rem;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 100ms ease-in-out;
  border-radius: 0.4rem;
  user-select: none;
  z-index: 2;
}

/* Position the "next button" to the right */
.next {
  border-radius: 0.4rem; 
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $overlay;
}

/* Caption text */
.text {
  justify-content: center;
  display: flex;
  color: #f2f2f2;
  background-color: $overlay;
  font-size: $font-sml;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  transform: translateY(-8rem);
  

  @include breakpoint-up(medium) {
    transform: translateY(-8rem);
    font-size: $font-lrg;
  }
  
  @include breakpoint-up(large) {
    transform: translateY(-10rem);
    font-size: $font-lrg;
  }
}

.flexdot {
  transform: translateY(-6rem);
  display: flex;
  flex-direction: row;
}
.dotdotdot {
 transform: translateY(-0.45rem);
 margin: 0 6rem;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: $sec-blue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active, .dot:hover {
  background-color: $prim-blue;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

}