* {box-sizing:border-box}


section {
  width: 100%;
  height: 100vh;
  margin: 2rem 0 0 0;
  padding: 0;
  background-color: $bg-light;
}

.slide-show-container {
  height: 100%;
  width: 100%;
  position: relative;
}
/* CSS Styles in common for all slides */
.wrapper-one,
.wrapper-two,
.wrapper-three, 
.wrapper-four, 
.wrapper-five, 
.wrapper-six, 
.wrapper-seven {
  background-color: $bg-light;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* CSS Styles for each slide */
/* Just add the image as background attribute and add some animation */

.wrapper-one {
    background: url('../Assets/Images/bannerim001.jpg')no-repeat center center/cover;
}

.wrapper-two {
    background: url('../Assets/Images/bannerim002.jpg')no-repeat center center/cover;
    animation: slideTwoAnim 40s infinite;
}

.wrapper-three {
    background: url('../Assets/Images/bannerim003.jpg')no-repeat center center/cover;
    animation: slideThreeAnim 40s infinite;
}

.wrapper-four {
    background: url('../Assets/Images/bannerim004.jpg')no-repeat center center/cover;
    animation: slideFourAnim 40s infinite;
}

.wrapper-five {
    background: url('../Assets/Images/bannerim005.jpg')no-repeat center center/cover;
    animation: slideFiveAnim 40s infinite;
}

.wrapper-six {
    background: url('Assets/Images/bannerim006.jpg')no-repeat center center/cover;
    animation: slideSixAnim 40s infinite;
}

.wrapper-seven {
    background: url('Assets/Images/bannerim007.jpg')no-repeat center center/cover;
    animation: slideSevenAnim 40s infinite;
}

/* Styles for the text */
.wrapper-text {
  font-family: 'Monsterat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 250px;
}

/* Animations */
@keyframes slideTwoAnim {
    0%{opacity:0;}
    5%{opacity:0;}
    10%{opacity:0;}
    15%{opacity:1;}
    20%{opacity:1;}
    25%{opacity:1;}
    30%{opacity:0;}
    35%{opacity:0;}
    40%{opacity:0;}
    45%{opacity:0;}
    50%{opacity:0;}
    55%{opacity:0;}
    60%{opacity:0;}
    65%{opacity:0;}
    70%{opacity:0;}
    75%{opacity:0;}
    80%{opacity:0;}
    85%{opacity:0;}
    90%{opacity:0;}
    95%{opacity:0;}
    100%{opacity:0;}
}

@keyframes slideThreeAnim {
  0%{opacity:0;}
  5%{opacity:0;}
  10%{opacity:0;}
  15%{opacity:0;}
  20%{opacity:0;}
  25%{opacity:0;}
  30%{opacity:1;}
  35%{opacity:1;}
  40%{opacity:1;}
  45%{opacity:0;}
  50%{opacity:0;}
  55%{opacity:0;}
  60%{opacity:0;}
  65%{opacity:0;}
  70%{opacity:0;}
  75%{opacity:0;}
  80%{opacity:0;}
  85%{opacity:0;}
  90%{opacity:0;}
  95%{opacity:0;}
  100%{opacity:0;}
}

@keyframes slideFourAnim {
  0%{opacity:0;}
  5%{opacity:0;}
  10%{opacity:0;}
  15%{opacity:0;}
  20%{opacity:0;}
  25%{opacity:0;}
  30%{opacity:0;}
  35%{opacity:0;}
  40%{opacity:0;}
  45%{opacity:1;}
  50%{opacity:1;}
  55%{opacity:1;}
  60%{opacity:0;}
  65%{opacity:0;}
  70%{opacity:0;}
  75%{opacity:0;}
  80%{opacity:0;}
  85%{opacity:0;}
  90%{opacity:0;}
  95%{opacity:0;}
  100%{opacity:0;}
}
@keyframes slideFiveAnim {
  0%{opacity:0;}
  5%{opacity:0;}
  10%{opacity:0;}
  15%{opacity:0;}
  20%{opacity:0;}
  25%{opacity:0;}
  30%{opacity:0;}
  35%{opacity:0;}
  40%{opacity:0;}
  45%{opacity:0;}
  50%{opacity:0;}
  55%{opacity:0;}
  60%{opacity:1;}
  65%{opacity:1;}
  70%{opacity:1;}
  75%{opacity:0;}
  80%{opacity:0;}
  85%{opacity:0;}
  90%{opacity:0;}
  95%{opacity:0;}
  100%{opacity:0;}
}
@keyframes slideSixAnim {
  0%{opacity:0;}
  5%{opacity:0;}
  10%{opacity:0;}
  15%{opacity:0;}
  20%{opacity:0;}
  25%{opacity:0;}
  30%{opacity:0;}
  35%{opacity:0;}
  40%{opacity:0;}
  45%{opacity:0;}
  50%{opacity:0;}
  55%{opacity:0;}
  60%{opacity:0;}
  65%{opacity:0;}
  70%{opacity:0;}
  75%{opacity:1;}
  80%{opacity:1;}
  85%{opacity:1;}
  90%{opacity:0;}
  95%{opacity:0;}
  100%{opacity:0;}
}
@keyframes slideSevenAnim {
  0%{opacity:0;}
  5%{opacity:0;}
  10%{opacity:0;}
  15%{opacity:0;}
  20%{opacity:0;}
  25%{opacity:0;}
  30%{opacity:0;}
  35%{opacity:0;}
  40%{opacity:0;}
  45%{opacity:0;}
  50%{opacity:0;}
  55%{opacity:0;}
  60%{opacity:0;}
  65%{opacity:0;}
  70%{opacity:0;}
  75%{opacity:0;}
  80%{opacity:0;}
  85%{opacity:0;}
  90%{opacity:1;}
  95%{opacity:1;}
  100%{opacity:1;}
}