.genoral-info {
  display: flex;
  flex-direction: column;
  padding-right: 5%;

  @include breakpoint-up(large) {
    flex-direction: row;
  }
  img {
    padding: 1rem;
    width: 100%;

    @include breakpoint-up(large) {
      height: 20%;
      width: 20%;
    }
  }

  &__oral {
    display: flex;
    padding: 1rem;
    text-align: center;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .indent {
              text-indent: 2rem;
      
    }
    img {
      align-self: flex-end;
    }
    @include breakpoint-up(large) {
      text-align: left;
      align-self: center;
      align-items: start;
      
    }
    h2 {
      color: $prim-blue;
      margin-bottom: 0;
    }
    p {
      color: $sec-blue;
      @include breakpoint-up(large) {
       font-size: $font-reg;
     
      }
    }
    h3 {
      color: $prim-blue;
      @include breakpoint-up(large) {
        font-size: $font-lrg;
        
       }
    }
    a {
      font-style: italic;
      color: $prim-blue;
    }
    li {
      list-style: none;
      padding-left: 2rem;
      line-height: 2rem;
    }
    
  }
}
.systemic {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  

  @include breakpoint-up(large) {
    flex-direction: row;
  }
  img {
    padding: 1rem;
    width: 100%;
    order: 1;

    @include breakpoint-up(large) {
      height: 50%;
      width: 50%;
      order: 2;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    order: 2;
    align-items: center;
    justify-content: center;

    @include breakpoint-up(large) {
      text-align: right;
      align-self: center;
      order: 1;
    }
    h2 {
      color: $prim-blue;
      

    }
    .emergbut {
      a {
        font-size: 3rem;
        color: $black;
        padding: 0 2rem;
        cursor: pointer;
        border-radius: 3.125rem;
        transition: 300ms ease-in-out;
       &:hover {
        transform: scale(1.2);
        transition: 300ms ease-in-out;
        background-color: $urg-com;
        color: $white;
       }
      }
      
    }
    p {
      color: $sec-blue;
      @include breakpoint-up(large) {
       font-size: $font-lrg;
      }
    }
    h3 {
      color: $prim-blue;
      @include breakpoint-up(large) {
        font-size: $font-lrg;
       
       }
    }
  }
}
.oralfaq-info {
  display: flex;
  flex-direction: column;
  padding-right: 5%;

  @include breakpoint-up(large) {
    flex-direction: row;
  }
  img {
    padding: 1rem;
    width: 100%;

    @include breakpoint-up(large) {
      height: 50%;
      width: 50%;
    }
  }

  &__oral {
    display: flex;
    padding: 1rem;
    text-align: center;  
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint-up(large) {
      text-align: left;
      align-self: center;
      align-items: start;
      
    }
    h2 {
      color: $prim-blue;
      font-size: $font-reg;
      margin-bottom: 0;
    }
    p {
      color: $sec-blue;
      @include breakpoint-up(large) {
       font-size: $font-med;
      }
    }
    h3 {
      color: $prim-blue;
      @include breakpoint-up(large) {
        font-size: $font-med;
        
       }
    }
       
    
  }
}
.healthlink {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  @include breakpoint-up(medium) {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
  }
  

  a {
    color: $prim-blue;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    order: 2;
    justify-content: start;
    
   
    h2 {
      color: $sec-blue;
      font-size: $font-med;
      margin-bottom: 0;
      font-weight: 600;
    }  
   
    p {
      margin-top: 0;
      color: $sec-blue;
      font-size: $font-sml;
      font-weight: 400;
      @include breakpoint-up(large) {
      font-size: $font-med;
      }
    }
    
  }
}