// Colours

$prim-blue: #0098ff;
$bg-light: #e9f6ff;
$sec-blue: #0065a8;
$white: #ffffff;
$black: #000000;
$l-grey: #c4c4c4;
$d-grey: #444444;
$urg-com: #FF5C00;

$overlay: rgba((#0098ff), 0.8);
$overlayw: rgba((#ffffff), 0.8);
$overlayb: rgba((#000000), 0.8);
$overlayd: rgba((#0065a8), 0.8);


// 65a8s
$font-xsml: 0.6rem;
$font-sml: 0.8rem;
$font-med: 1rem;
$font-reg: 1.2rem;
$font-lrg: 1.6rem;
$font-xLrg: 2rem;